*.pyc
*.png
*.jpg
*.jpeg
*.svg
*.gif
*.sqlite3
secrets.py
settings_local.py
\.devcontainer/
\.github/
nextjs_app/node_modules
nextjs_app/public
react_builder/node_modules
package-lock.json
devcontainer.json
dependabot.yml
nginx.local/
docker-compose.override.yml
